<form action="/trainers" method="post">
  <input type="hidden" name="authenticity_token" value="<=form_authenticity_token %>">
  <p>Enter Trainer Name</p>
  <input type='text' name='name'/><br/>
  <input type='submit'/>
</form>